@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
section {
  width: 50%;
}
section.left {
  background-color: rgb(234, 234, 234);
}
section.right {
  background-color: rgb(255, 239, 239);
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.game {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* ELEMENTS */
.name {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 3rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.current {
  background-color: #c7365f;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

.btn {
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}
.game p {
  font-size: 2.5rem;
}

.dice {
  left: 45%;
  top: 40%;
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  margin: 5rem;
}

.game-winner {
  background-color: #60b347;
}

.game-winner .name {
  font-weight: 700;
  color: #ffffff;
}
.game-winner .score {
  font-weight: 700;
  color: #ffffff;
}
.game-winner .current {
  font-weight: 700;
  background-color: #ffffff;
  color: #60b347;
}
.game-winner .current-label {
  color: #60b347;
}

.hidden {
  display: none;
}
